extends layout/default

block append content

  h2.text-center hello world
  .row
    .col-xs-4.col-xs-offset-4
      .row.text-center 
        .col-xs-4
          i.fa.fa-rocket
        .col-xs-4
          i.fa.fa-check
        .col-xs-4
          i.fa.fa-globe

      .row.text-center 
        .col-xs-4
          .icon.icon-control
        .col-xs-4
          .icon.icon-world
        .col-xs-4
          .icon.icon-control